@import url("https://fonts.googleapis.com/css?family=Kaushan+Script");
html,
body,
.container {
  height: 100%;
}

.giftbox {
  font-family: "Kaushan Script", "Sail", cursive;
}

body {
  overflow: hidden;
}

.merrywrap {
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
  top: 0px;
  background-color: #d44;
  transition: background-color 0.5s ease;
}

.giftbox {
  position: absolute;
  width: 300px;
  height: 200px;
  left: 50%;
  margin-left: -150px;
  bottom: 40px;
  z-index: 10;
}
.giftbox > div {
  background: #34495e;
  position: absolute;
}
.giftbox > div:after,
.giftbox > div:before {
  position: absolute;
  content: "";
  top: 0;
}
.giftbox:after {
  position: absolute;
  color: #fff;
  width: 100%;
  content: "Click Me!";
  left: 0;
  bottom: 0;
  font-size: 24px;
  text-align: center;
  transform: rotate(-20deg);
  transform-origin: 0 0;
}
.giftbox .cover {
  width: 100%;
  top: 0;
  left: 0;
  height: 25%;
  z-index: 2;
}
.giftbox .cover:before {
  position: absolute;
  height: 100%;
  left: 50%;
  width: 50px;
  transform: translateX(-50%);
  background: #fdc56d;
}
.giftbox .cover > div {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 50%;
  top: -50px;
  transform: translateX(-50%);
}
.giftbox .cover > div:before,
.giftbox .cover > div:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  box-shadow: inset 0 0 0 15px #fdc56d;
  border-radius: 30px;
  transform-origin: 50% 100%;
}
.giftbox .cover > div:before {
  transform: translateX(-45%) skewY(40deg);
}
.giftbox .cover > div:after {
  transform: translateX(45%) skewY(-40deg);
}
.giftbox .box {
  right: 5%;
  left: 5%;
  height: 80%;
  bottom: 0;
}
.giftbox .box:before {
  width: 50px;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
  background: #fdc56d;
}
.giftbox .box:after {
  width: 100%;
  height: 30px;
  background: rgba(0, 0, 0, 0.2);
}

.step-1 .giftbox {
  animation: wobble 0.5s linear infinite forwards;
}
.step-1 .cover {
  animation: wobble 0.5s linear infinite 0.1s forwards;
}
.step-1 .icons .row span {
  opacity: 1;
}

.step-2 .giftbox:after {
  opacity: 0;
}

.step-3 .giftbox,
.step-4 .giftbox {
  opacity: 0;
  z-index: 1;
}
.step-3 .giftbox:after,
.step-4 .giftbox:after {
  opacity: 0;
}

.step-2 .giftbox .cover {
  animation: flyUp 0.4s ease-in forwards;
}
.step-2 .giftbox .box {
  animation: flyDown 0.2s ease-in 0.05s forwards;
}

@keyframes wobble {
  25% {
    transform: rotate(4deg);
  }
  75% {
    transform: rotate(-2deg);
  }
}
@keyframes flyUp {
  75% {
    opacity: 1;
  }
  100% {
    transform: translateY(-1000px) rotate(20deg);
    opacity: 0;
  }
}
@keyframes flyDown {
  75% {
    opacity: 1;
  }
  100% {
    transform: translateY(100%);
    opacity: 0;
  }
}
